---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
    title: string;
    description: string;
    author: string;
}

const { author, description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- SEO -->
        <meta name="description" content={description} />
        <meta name="author" content={author} />
        <link rel="stylesheet" href="/src/styles/blog.css" />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body class="bg-gray-900 text-gray-200">
        <main class="mb-10 max-w-5xl m-auto p-2">
            <a href="/" class="text-blue-500">Regresar</a>
            <slot />
        </main>
    </body>
</html>
